output
outputCUDA
GraphsDense/
GraphsSparse/
GraphsSetTriangles/
GraphGenerator/GenerateGraphs
CpuAlgorithm/CpuAlgorithm
CudaAlgorithm/CudaImplementation
result.txt
resultThreads*.txt
resultCuda*.txt
*.o
*.a
.ipynb_checkpoints
Unit_Test_*