output
outputCUDA
nNotSparseFalse/
nNotSparseTrue/
nSparseFalse/
nSparseTrue/
pNotSparseFalse/
pNotSparseTrue/
pSparseFalse/
pSparseTrue/
v2GraphsDense/
v2GraphsSparse/
v2GraphsSetTriangles/
result.txt
resultThreads.txt
resultCuda.txt
*.o
*.a
